body
{
    margin: 0;
}

.cat-card
{
    width: 300px;
    border: 1px solid #000;
    margin: 10px;
}

.cat-card__photo
{
    width: 300px;
}

.cat-card__name
{
    margin: 14px 20px 10px;
}

.cat-short-descrption__info-line,
.cat-descrption__info-line
{
    margin: 0 20px;
    hyphens: auto;
}

.cat-short-descrption__status
{
    margin: 0 20px;
}

.cat-status
{
    margin: 20px 20px 30px 0;
}

input.chk-btn
{
    display: none;
}

input.chk-btn + label
{
    border: 1px solid grey;
    background: ghoswhite;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
}

input.chk-btn:not(:checked) + label:hover
{
    box-shadow: 0 1px 3px;
}

input.chk-btn + label:active,
input.chk-btn:checked + label
{
    box-shadow: 0 0 3px inset;
    background: #eee;
}

input.chk-btn:checked + .cat-card
{
    display: none;
}
