body
{
    margin: 0;
}

.card-content-text
{
    padding: 20px;
}

.cat-card
{
    width: 300px;
    border: 1px solid #000;
    margin: 10px;
}

.cat-photo
{
    width: 300px;
}

.cat-name
{
    margin: 0 0 10px;
}

.cat-description-text
{
    margin: 0;
    hyphens: auto;
}

.cat-status
{
    margin-top: 20px;
}
